# Entornos virtuales
venv/
env/

# Carpetas de PyInstaller (Compilación)
build/
dist/

# Archivos de configuración de compilación
*.spec

# Archivos temporales de Python
__pycache__/
*.pyc

# Archivos de Buildozer (Android)
.buildozer/
bin/